:root {
  --vp-c-brand: #646cff;
  --vp-c-brand-light: #747bff;
  --vp-c-brand-lighter: #9499ff;
  --vp-c-brand-lightest: #bcc0ff;
  --vp-c-brand-dark: #535bf2;
  --vp-c-brand-darker: #454ce1;

  /*--vp-c-brand: rgb(255, 115, 64);*/
  /*--vp-c-brand-light: rgb(255, 87, 25);*/
  /*--vp-c-brand-lighter: rgb(255, 115, 64);*/
  /*--vp-c-brand-dark: #FF622D;*/
  /*--vp-c-brand-darker: rgb(226, 60, 0);*/

  --vp-code-block-bg: #f9fafb;
}

.demo-block .meta {
  background-color: var(--vp-code-block-bg);
}

html.dark {
  --vp-code-block-bg: var(--vp-c-bg-alt);
}
