$color_1: rgba(0,0,0,.54);
$color_2: #000;
$font-family_1: "Roboto","Segoe UI","GeezaPro","DejaVu Serif","sans-serif","-apple-system","BlinkMacSystemFont";
$font-family_2: "e-icons";

.e-dashboardlayout.e-control {
  .e-panel {
    .e-resize.e-single.e-east {
      height: 100%;
      padding: 20px 0;
      right: 1px;
      top: 0;
      width: 12px;
      border: none;
      &:hover {
        cursor: e-resize;
      }
    }
    .e-resize.e-double.e-east {
      height: 100%;
      padding: 20px 0;
      right: 1px;
      top: 0;
      width: 12px;
      border: none;
      &:hover {
        cursor: e-resize;
      }
    }
    .e-resize.e-single.e-west {
      height: 100%;
      left: 0;
      padding: 20px 0;
      top: 0;
      width: 12px;
      border: none;
      &:hover {
        cursor: w-resize;
      }
    }
    .e-resize.e-double.e-west {
      height: 100%;
      left: 0;
      padding: 20px 0;
      top: 0;
      width: 12px;
      border: none;
      &:hover {
        cursor: w-resize;
      }
    }
    .e-resize.e-single.e-north {
      height: 12px;
      padding: 0 20px;
      top: 1px;
      width: 100%;
      border: none;
      &:hover {
        cursor: n-resize;
      }
    }
    .e-resize.e-double.e-north {
      height: 12px;
      padding: 0 20px;
      top: 1px;
      width: 100%;
      border: none;
      &:hover {
        cursor: n-resize;
      }
    }
    .e-resize.e-single.e-south {
      bottom: 1px;
      height: 12px;
      padding: 0 20px;
      width: 100%;
      border: none;
      &:hover {
        cursor: s-resize;
      }
    }
    .e-resize.e-double.e-south {
      bottom: 1px;
      height: 12px;
      padding: 0 20px;
      width: 100%;
      border: none;
      &:hover {
        cursor: s-resize;
      }
    }
    .e-resize.e-single.e-south-east {
      bottom: 0;
      right: 1px;
      z-index: 10;
      &::before {
        bottom: 0;
        content: "\eb05";
        font-size: 12px;
        position: absolute;
        right: 0;
      }
      &:hover {
        cursor: se-resize;
      }
    }
    .e-resize.e-double.e-south-east {
      bottom: 0;
      right: 1px;
      z-index: 10;
      &::before {
        bottom: 0;
        content: "\eb05";
        font-size: 12px;
        position: absolute;
        right: 0;
      }
      &:hover {
        cursor: se-resize;
      }
    }
    .e-resize.e-single.e-north-west {
      left: 2px;
      top: 2px;
      z-index: 10;
      &:hover {
        cursor: nw-resize;
      }
    }
    .e-resize.e-double.e-north-west {
      left: 2px;
      top: 2px;
      z-index: 10;
      &:hover {
        cursor: nw-resize;
      }
    }
    .e-resize.e-single.e-north-east {
      right: 2px;
      top: 2px;
      z-index: 10;
      &:hover {
        cursor: ne-resize;
      }
    }
    .e-resize.e-double.e-north-east {
      right: 2px;
      top: 2px;
      z-index: 10;
      &:hover {
        cursor: ne-resize;
      }
    }
    .e-resize.e-single.e-south-west {
      bottom: 1px;
      left: 1px;
      z-index: 10;
      &::before {
        bottom: 0;
        content: "\eb05";
        font-size: 12px;
        left: 0;
        position: absolute;
        transform: rotateY(180deg);
      }
      &:hover {
        cursor: sw-resize;
      }
    }
    .e-resize.e-double.e-south-west {
      bottom: 1px;
      left: 1px;
      z-index: 10;
      &::before {
        bottom: 0;
        content: "\eb05";
        font-size: 12px;
        left: 0;
        position: absolute;
        transform: rotateY(180deg);
      }
      &:hover {
        cursor: sw-resize;
      }
    }
    border-radius: 2px;
    border: 1px #e0e0e0 solid;
    height: 100%;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    background: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
    box-sizing: border-box;
    position: absolute;
    &:hover {
      border: 1px #bdbdbd solid;
      .e-panel-container {
        .e-resize.e-dl-icon {
          display: block;
        }
      }
    }
    &:active {
      border: 1px #3f51b5 solid;
    }
    .e-panel-container {
      .e-resize.e-dl-icon {
        display: none;
      }
      height: 100%;
      width: 100%;
      .e-panel-content {
        .e-blazor-template {
          height: inherit;
          width: inherit;
        }
      }
      .e-panel-header {
        color: $color_1;
      }
      .e-resize.e-single {
        background: none;
      }
      .e-resize.e-double {
        color: $color_2;
        font-size: 20px;
        height: 20px;
        width: 20px;
      }
      .e-resize.e-double.e-south-east-double {
        bottom: 1px;
        right: 1px;
      }
      .e-resize.e-double.e-south-west-double {
        bottom: 1px;
        left: 1px;
      }
      .e-resize.e-double.e-north-west-double {
        left: 1px;
        top: 1px;
      }
      .e-resize.e-double.e-north-east-double {
        right: 1px;
        top: 1px;
      }
      .e-resize.e-double.e-north-east-shrink {
        right: 1px;
        top: 1px;
      }
      .e-resize.e-double.e-north-west-shrink {
        left: 1px;
        top: 1px;
      }
      .e-resize.e-double.e-south-west-shrink {
        bottom: 1px;
        left: 1px;
      }
      .e-resize.e-double.e-south-east-shrink {
        bottom: 1px;
        right: 1px;
      }
      .e-resize.e-double.e-north-east-expand {
        right: 1px;
        top: 1px;
      }
      .e-resize.e-double.e-north-west-expand {
        left: 1px;
        top: 1px;
      }
      .e-resize.e-double.e-south-west-expand {
        bottom: 1px;
        left: 1px;
      }
      .e-resize.e-double.e-south-east-expand {
        bottom: 1px;
        right: 1px;
      }
    }
    .e-panel-header {
      border-bottom: none;
      color: $color_1;
      font-family: $font-family_1;
      font-size: 14px;
      font-weight: 500;
      height: 28px;
      padding: 2px 12px;
      div {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .e-header-content {
        display: inline-block;
      }
      .e-header-template {
        float: right;
      }
    }
    .e-resize.e-single {
      position: absolute;
      -ms-touch-action: none;
      touch-action: none;
      &::before {
        font-family: $font-family_2;
        position: absolute;
      }
    }
    .e-resize.e-double {
      position: absolute;
      -ms-touch-action: none;
      touch-action: none;
      &::before {
        font-family: $font-family_2;
        position: absolute;
      }
    }
  }
  .e-dashboard-gridline-table {
    background: #f5f5f5;
    border-collapse: collapse;
    height: 100%;
    width: 100%;
    tbody {
      tr {
        td.e-dashboard-gridline {
          border: 1px dotted #bdbdbd;
          position: absolute;
        }
      }
    }
  }
  .e-panel.e-panel-transition {
    transition: top .5s,left .5s;
  }
  .e-drag {
    &:hover {
      cursor: move;
    }
  }
  .e-drag-restrict.e-drag {
    &:hover {
      cursor: default;
    }
  }
  .e-drag-restrict {
    .e-drag {
      &:hover {
        cursor: default;
      }
    }
  }
  .e-panel.e-dragging {
    cursor: move;
    z-index: 1111 !important;
  }
  .e-panel.e-item-moving {
    cursor: move;
    z-index: 1111 !important;
  }
  .e-panel.e-rtl {
    .e-panel-header {
      .e-header-template {
        float: left;
      }
    }
  }
  .e-holder {
    background: rgba(63,81,181,.2);
    border: 1px #3f51b5 dotted;
    border-radius: 2px;
    position: absolute;
  }
  .e-holder.e-holder-transition {
    transition: top .3s,left .3s;
  }
  .e-panel.e-bigger {
    .e-panel-header {
      font-size: 13px;
      font-weight: 500;
      height: 30px;
      padding: 0 12px;
      color: $color_1;
    }
  }
  display: block;
  position: relative;
}
.e-dashboardlayout.e-control.e-responsive {
  width: 100% !important;
}
.e-dashboardlayout.e-control.e-prevent {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.e-bigger {
  .e-dashboardlayout.e-control {
    .e-panel {
      .e-panel-header {
        font-size: 13px;
        font-weight: 500;
        height: 30px;
        padding: 0 12px;
      }
    }
  }
}
.e-content-placeholder.e-dashboardlayout.e-placeholder-dashboardlayout {
  height: 100%;
  width: 100%;
}
