// Color used for the gridlines
$grid-line-color: #000;

// GridItem
$grid-item-bg-color: #726e6e;
$grid-item-border-radius: 12px;
$grid-item-text-color: white;
$grid-item-font-size: 1rem;
$grid-item-static-bg-color: #393d42;

// Color and opacity used to display the drag placeholder
$grid-item-placeholder-bg-color: #8f3c3c;
$grid-item-placeholder-opacity: .5;
