// Color used for the gridlines
$grid-line-color: #000000;

// GridItem
$grid-item-bg-color: #720c0c;
$grid-item-text-color: white;
$grid-item-font-size: 1rem;
// Color and opacity used to display the drag placeholder
$grid-item-placeholder-bg-color: red;
$grid-item-placeholder-opacity: 0.2;

